@import '../../mixins/adaptive-rules.scss';

.project {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 'main gallery';
    column-gap: 55px;
    
    @include onTablet {
        column-gap: 10px;
        grid-template-columns: 1fr 2fr;
    }

    @include onSmallPhone {
        grid-template-areas:
        'gallery'
        'main';
        grid-template-columns: none;
    }

    &_main {
        height: 100%;
        grid-area: main;

        @include onSmallPhone {
            width: 100%;
        }
    }

    &_gallery {
        height: 100%;
        grid-area: gallery;

        @include onSmallPhone {
            width: 100%;
        }
    }
}
