.project {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 830px;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 'main gallery';
    column-gap: 55px;

    &_main {
        height: 100%;
        grid-area: main;
    }

    &_gallery {
        height: 100%;
        grid-area: gallery;
    }
}
