@import '../../mixins/adaptive-rules.scss';

.mainTasks {
  margin-top: 120px;
  width: 100%;
  height: 268px;

  @include onTablet {
    margin-top: 0px;
  }

  @include onSmallPhone {
    margin-top: 40px;
    height: 100%;
  }

  &__title {
    display: flex;
    flex-direction: row;
    height: 64px;

    font-size: 64px;
    color: #bdbdbd;
    font-weight: 300;

    @include onSmallPhone {
      height: 32px;
      font-size: 32px;
    }
  }

  &__option {
    display: flex;
    flex-direction: row;
    gap: 187px;

    margin-top: 20px;

    @include onTablet {
      gap: 70px;
    }

    @include onSmallPhone {
      gap: 50px;
      flex-direction: column;
    }


    &__one {
      display: flex;
      flex-direction: row;
      gap: 30px;

      height: 200px;

      @include onTablet {
        height: 130px;
      }

      @include onSmallPhone {
        height: 80px;
      }


      &-num {
        line-height: 200px;
        font-size: 200px;
        font-weight: 900;
        color: #f2f2f2;
        
      @include onTablet {
        font-size: 130px;
        line-height: 130px;
      }

      @include onSmallPhone {
        font-size: 80px;
        line-height: 80px;
        width: 60px;
      }
      }

      &-text {
        display: flex;
        align-items: center;
        width: 100%;

        font-size: 22px;
        font-weight: 400;
        color: #333333;

        @include onTablet {
          font-size: 16px;
        }

        @include onSmallPhone {
          font-size: 15px;
        }
      }
    }

    &__two {
      display: flex;
      flex-direction: row;
      gap: 30px;

      height: 200px;

      @include onTablet {
        height: 130px;
      }

      @include onSmallPhone {
        height: 80px;
      }

      &-num {
        line-height: 200px;
        font-size: 200px;
        font-weight: 900;
        color: #f2f2f2;
           
      @include onTablet {
        font-size: 130px;
        line-height: 130px;
      }

      @include onSmallPhone {
        font-size: 80px;
        line-height: 80px;
        width: 60px;
      }
      }

      &-text {
        display: flex;
        align-items: center;
        width: 100%;

        font-size: 22px;
        font-weight: 400;
        color: #333333;

        @include onTablet {
          font-size: 16px;
        }

        @include onSmallPhone {
          font-size: 15px;
        }
      }
    }
  }
}
