@import '../../../mixins/adaptive-rules.scss';

.projectGallery {
    position: relative;
    height: 100%;
    width: 100%;

    @include onSmallPhone {
        height: 300px;
    }

   
    &-img {
        width: 100%;
        height: 100%;
    }
    
    &-button {
        position: absolute;
        left: 0;
        bottom: 0;

        gap: 12px;

        background-color: #FFFFFF;
        width: 222px;
        height: 71px;

        text-transform: uppercase;

        @include onSmallPhone {
            width: 150px;
            height: 45px;

            font-size: 14px;
        }
    }

    &-button:hover {
        background-color: #f2f2f2
    }
}