@import '../../mixins/adaptive-rules.scss';

.header {
  display: flex;
  align-items: center;

  width: 100%;
  height: 102px;

  @include onSmallPhone {
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: row;

    padding: 0 135px;

    &-logo {
      background-image: url(../../img/logo.png);
      width: 70px;
      height: 43.71px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include onSmallPhone {
      padding: 0 10px;

      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.header__nav {
  padding-left: 330px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include onTablet {
    padding-left: 60px;
  }

  &__item {
    margin-left: 60px;

    position: relative;

    display: flex;
    line-height: 20px;

    height: 20px;

    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;

    @include onTablet {
      margin-left: 20px;
    }

    @include onSmallPhone {
      display: none;
    }
  }
}
