@import './mixins/adaptive-rules.scss';

.App {
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  position: relative;
}

.content {
  padding: 0 135px;

  @include onTablet {
    padding: 0 50px;
  }

  @include onSmallPhone {
    padding: 0 10px;
  }
}
